<header class="main-title">
  <h1>Photo Impact</h1>
  <p>Inmortalizing your best moments</p>
</header>

<ul class="topnav">

  <li><a class="active" id="link-home" href="../Page/index.html">Home</a></li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Our Services</a>

    <div class="dropdown-content">
      <a href="/Photo-Impact-main/Page/quinceanos.html">Quinceaños</a>
      <a href="/Photo-Impact-main/Page/wedding.html">Weddings</a>
      <a href="/Photo-Impact-main/Page/event.html">Private events</a>
      <a href="/Photo-Impact-main/Page/photoshoot.html">Photoshoot</a>
    </div>
  </li>
  
  <li><a id="link-quote" href="../user/make-a-quote.php">Make a quote</a></li>
  <li><a id="about" href="../Page/about.html">About us</a></li>
  <li><a id="contact" href="../Page/contactUs.html">Contact us</a></li>

  <!-- Admin link - TODO: Implement admin functionality -->
  <li><a id="bookings" href="../admin/manage-quotes.php">Quotes</a></li> 
  <li><a id="bookings" href="../admin/manage-bookings.php">Bookings</a></li>

  <li>
    <a id="link-quote"
       href="/Photo-Impact-main/Page/quote.html">
       Make a quote
    </a>
  </li>

  <li>
    <a id="about"
       href="/Photo-Impact-main/Page/about.html">
       About us
    </a>
  </li>

  <li>
    <a id="contact"
       href="/Photo-Impact-main/Page/contactUs.html">
       Contact us
    </a>
  </li>

  <div class="nav-auth">

    <li>
      <a id="nav-signUp"
         href="/Photo-Impact-main/Page/signUp.html">
         Sign up
      </a>
    </li>

    <li>
      <a class="nav-login"
         href="/Photo-Impact-main/Page/login.php">
         Log in
      </a>
    </li>

  </div>

</ul>
