.about-page{
    margin: 0;
}
.about-container {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  font-family: 'Trebuchet MS','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-container h2 {
  text-align: center;
  color: #4A4E69;
  margin-bottom: 20px;
}

.text-block h3 {
  color: #22223B;
  margin-top: 10px;
}

.about-container p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-container ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

.about-container li {
  margin-bottom: 8px;
}
